<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="../../public/favicon.ico" type="image/x-icon" />
   <!-- font-awesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <!-- font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet">
   <!-- normalize css -->
   <!-- <link rel="stylesheet" href="../style/normalize.css" />
   <link rel="stylesheet" href="../style/index.css"> -->
   <!-- axios -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
      integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" defer="defer"></script>
   <!-- <script defer="defer" src="../js/index.js"></script> -->
   <title>Task Manager | Home</title>
</head>

<body>
   <div id="container">
      <header>
         <div id="webTitle">
            <h2><a href="index.html">Task Manager</a></h2>
            <p>to do list</p>
         </div>
         <label class="switch">
            <input type="checkbox" id="darkModeToggle">
            <span class="slider round"></span>
         </label>
      </header>
      <main id="content">
         <section id="leftSide">
            <form id="formAddNewTask" novalidate>
               <h3>Write New Task</h3>
               <input type="text" name="taskName" id="taskName" placeholder="Dishes washing..." required
                  autocomplete="false">
               <button type="submit">Add New Task</button>
               <p id="alertNewTask"></p>
            </form>
         </section>
         <section id="rightSide">
            <ul>
               <li class="active" data-show="all">
                  All
                  <span id="allCount">?</span>
               </li>
               <li data-show="completed">
                  Done
                  <span id="doneCount">?</span>
               </li>
               <li data-show="incomplete">
                  Undone
                  <span id="undoneCount">?</span>
               </li>
            </ul>
            <h4 id="showLoading">Loading...</h4>
            <div id="showCardsContainer">
               <div class="showCards visible" id="all">
                  <div id="tasksBox"></div>
               </div>
            </div>
         </section>
      </main>
   </div>
</body>

</html>